test/
build/
node_modules/
vendor/
.idea/
.vscode/
.history
.docz/
.DS_Store
.phpcs.cache
.phpunit.result.cache
php-errors.log
ehthumbs.db
Thumbs.db
.npm
.sass-cache
.prettierignore
*.zip
*.po
*.po~
*.mo
.history
*.log
*.map
.phpunit.cache
assets/dist/
languages
package-lock.json